/*============= FONTS =================*/
@font-face {
    font-family: 'Lausanne400';
    src: url('fonts/TWKLausanne-400.ttf');
}

@font-face {
    font-family: 'Lausanne650';
    src: url('fonts/TWKLausanne-650.ttf');
}

/* ================= ICONS ================ */
.bx {
    font-size: 48px;
}

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(255, 100%, 64%);
    --first-color-alt: hsl(255, 100%, 73%);
    --first-color-light: hsl(93, 58%, 66%);
    --title-color: hsl(228, 8%, 98%);
    --text-color: hsl(228, 8%, 70%);
    --white-color: hsl(228, 8%, 98%);
    --black-color: hsl(228, 6%, 4%);
    --body-color: hsl(228, 6%, 8%);
    --container-color: hsl(228, 6%, 12%);
    --shadow-img: 0 0 48px grey;
    --gradient-card: linear-gradient(180deg,
            hsla(93, 8%, 8%),
            hsla(93, 40%, 30%));

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    /*--body-font: "Montserrat", sans-serif;*/
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-semi-bold: 600;
    --font-bold: 700;


}



/* ============== COSAS BASE ================== */
body {
    /*font-family: var(--body-font);*/
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    font-family: 'Lausanne400';

}

/*========== Responsive typography ==========*/
@media screen and (max-width: 1150px) {
    :root {
        --biggest-font-size: 3.25rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 0.85rem;
        --normal-font-size: 1.7rem;
        --small-font-size: 1.5rem;
    }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

html {
    scroll-behavior: smooth;
}


h1,
h2,
h3,
h4 {
    color: var(--title-color);
    /*font-weight: var(--font-semi-bold);*/
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: auto;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding: 5rem 1rem 1rem 0;
}

.section__title {
    font-family: 'Lausanne650';
    font-size: var(--h1-font-size);
    /*font-weight: var(--font-bold);*/
    text-align: center;
    margin-bottom: 1rem;
}

.main {
    overflow: hidden;
    justify-content: center;
}


/* ============== HEADER & NAV =============== */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: var(--z-fixed);
}

.nav {
    position: relative;
    height: var(--header-height);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* ======== nav components ============ */
.nav__logo,
.nav__close,
.nav__toggle {
    display: flex;
    color: var(--title-color);
    cursor: pointer;
}

/* ------- nav logo -------- */
.nav__logo {
    width: 25%;
    font-weight: 400;
    column-gap: 1rem;
    align-items: center;
}

.nav__logo i {

    color: var(--first-color-alt);
    font-size: var(--h1-font-size);
    font-weight: initial;
}

/* -------- nav actions ------*/
.nav__toggle {
    font-size: 1.25rem;
}

.nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

.nav__link {
    color: var(--title-color);
    font-size: var(--h1-font-size);
    /*font-weight: var(--font-semi-bold);*/
}

.nav__link:hover {
    color: var(--first-color);
    transition: color 0.4s;
}

.nav__close {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    font-size: 2rem;

}

.morfo_logo {
    width: 75%;
    padding: 10px;
    margin-top: 20px;
}







/* ================== ABOUT ======================== */
.about__container {
    margin: auto;
    padding-top: 3rem;
    row-gap: 3rem;
}

.about__img {
    width: 40%;
    filter: drop-shadow(var(--shadow-img));
    justify-self: center;
}

.about__data {
    text-align: center;
}

.about__title {
    font-size: var(--biggest-font-size);
    font-size: 'Lausanne650';
    /*font-weight: var(--font-bold);*/
    margin-bottom: 2rem;
}

.about__title span {
    color: var(--first-color-alt);
}

.about__description {
    margin: 0 3rem 3rem;
}

.about__buttons {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    justify-content: center;
    align-items: center;
}

/* ======================== ABOUT PROJECT ===================== */
.aboutus__container {
    justify-content: center;
    row-gap: 8rem;
    margin: auto;
}

.aboutus__data {
    text-align: center;
}



.aboutus__data .section__title span {
    color: var(--first-color-alt)
}

.aboutus__list {
    font-size: 1.5rem;
    font-style: italic;
    text-align: initial;
    grid-template-columns: repeat(2, 250px);
    justify-content: center;
    gap: 1.5rem;

}

.aboutus__list-item {
    display: flex;
    column-gap: 0.5rem;
    color: var(--first-color);
}



.aboutus__description {
    margin-bottom: 2rem;
}

.aboutus__description span {
    color: var(--first-color-alt);
}

.avalados__description {
    margin: auto;
}


.aboutus__images {
    position: relative;
    justify-self: center;
}

.about__img-1 {
    width: 500px;
    border: 15px solid var(--body-color);
    position: absolute;
    top: -5rem;
    left: 2rem;

}

.about__img-2 {
    width: 450px;
    margin-right: 2.5rem;
    margin-top: 7rem;
}

/* ======================== TECH SECTION ===================== */

.section__title span {
    color: var(--first-color-alt)
}

.tech__img {
    width: 40%;
    filter: drop-shadow(var(--shadow-img));
    justify-self: center;
}

/* ============== BUTTONS ================ */
.button {
    background-color: var(--white-color);
    color: black;
    /*font-weight: var(--font-bold);*/
    padding: 0.5rem 1.5rem;
    border-radius: 4rem;
    display: inline-flex;
    align-items: center;
    column-gap: 1rem;
}

.button span {
    background-color: var(--first-color);
    padding: 0.5rem;
    font-size: 1.25rem;
    border-radius: 5rem;
    display: grid;
    place-items: center;
    transition: trasform 0.4s;
}

/* ------- button animationss ---------- */
.button:hover span {
    transform: translateX(10px);
}

.button__link {
    color: var(--white-color);
    /*font-weight: var(--font-bold);*/
    transition: color 0.4s;
}

.button__link:hover {
    color: var(--first-color);
}

.fact__list {
    display: grid;
    row-gap: 2rem;
    justify-content: center;
    /* puede cambiar */
}

.fact__item {
    display: flex;
    column-gap: 0.5rem;
    align-items: flex-start;
}

.fact__item i {
    font-size: 2rem;
    color: var(--first-color-alt);
}


/* ===================== CONTACT SECTION =================== */
.contact__container {
    padding-top: 2rem;
    row-gap: 2rem;
}

.contact__img {

    justify-self: center;
    filter: drop-shadow(var(--shadow-img));

}

.contact__content .gap {

    display: grid;
    row-gap: 2rem;
    text-align: center;
    justify-self: center;
}

.contact__title {
    font-size: var(--h2-font-size);
    margin-bottom: 1rem;
    border-style: none;
    color: var(--white-color)
}

contact__title p {

    color: var(--white-color)
}

.contact__socials {
    display: flex;
    justify-content: center;
    column-gap: 2rem;
}

.contact__socials a {
    font-size: 2rem;
    color: var(--first-color-alt);
    filter: drop-shadow(var(--first-color));
}

.contact__info {
    font-style: normal;
    display: flex;
    flex-direction: row;
    row-gap: 2rem;
    justify-content: center;
}

/* ==================== TEAM SECTION ================== */

.members {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    /*border: 5px solid pink;*/
    justify-content: center;


}

.team__member {
    /*border: 2px solid red;*/
    width: 33%;
    text-align: center;
    justify-content: center !important;
    align-items: center;

}

.team__container {

    transform: scale(0.48);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: auto;
    height: auto;

}

.member__circle {

    background-color: var(--first-color-alt);
    border-radius: 100%;
    width: 100%;
    height: 100%;
    justify-content: center;



}

.member__image {
    align-self: center;
    height: auto;
    margin: auto;
}

.member__content {

    padding: 10px;
}

.member__content p {
    font-size: 1.5rem;
    margin-top: 5px;
}

.container__inner {
    border: solid 3px white;
}

.divider {
    height: 3px;
    width: 130px;
    background-color: white;
    border-radius: 3px;

    justify-content: center;
    text-align: center;
    margin: 10px auto;

}

/* ================ TRANSITIONS ================ */
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(10%);
    transition: all 2s;

}

.show {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);

}



/*=============================================== */



@media screen and (min-width: 860px) {

    :root {
        --biggest-font-size: 5rem;
        --h1-font-size: 1.25rem;
        --h2-font-size: 0.5rem;
        --h3-font-size: 0.85rem;
        --normal-font-size: 2.25rem;
        --small-font-size: 2rem;
    }

    .morfo_logo {
        width: 55%;
        padding: 10px;
        margin-top: 20px;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        font-size: 2rem;
    }

    .nav__list .nav__items a {

        font-size: 2rem;
    }

    .nav__menu {


        position: fixed;
        top: 0;
        right: -100%;
        background-color: hsla(255, 100%, 73%, 0.8);
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
        width: 20%;
        height: 100%;
        padding: 6rem 3rem;
        transition: right 0.4s;


    }


    .nav__close,
    .nav__toggle i {

        color: var(--white-color);
        font-size: 3rem;
        font-weight: initial;
    }

    .section {

        margin: auto;
        justify-content: center;
    }


    .about {
        margin-bottom: 3rem;
    }

    .about__container {
        margin: auto;
        padding: 0 20rem;
        row-gap: 3rem;
    }



    .about__description {
        margin: 0 1rem 1rem 0.5rem !important;

    }

    .about__img {
        width: 30%;
        filter: drop-shadow(var(--shadow-img));
        justify-self: center;
    }

    .about__buttons {
        font-size: 2.5rem;
        font-weight: 500;
        padding: 3rem;
    }

    .aboutus__data {
        margin: 5rem auto;
        padding: 0 20rem;

    }

    .aboutus__data .section__title {
        margin-top: 3rem;
        font-size: 3rem;


    }

    .section__title {
        margin: auto;
        font-size: 3rem;

    }

    .aval {
        background-color: white;
        padding: 2rem;

    }

    .aboutus__container {
        justify-content: center;
        row-gap: 8rem;
        margin: auto;


    }


    .aboutus__list {
        display: flex;
        flex-direction: column;
        font-size: var(--normal-font-size) - 0.25rem;
        font-style: italic;
        text-align: center;
        justify-content: center;
        gap: 1.5rem;

    }

    .aboutus__list i {
        font-size: var(--normal-font-size + 0.1rem);

    }

    .aboutus__images {
        justify-content: center;
        margin: auto 20rem;
    }

    .about__img-1 {

        width: 60%;
        border: 15px solid var(--body-color);
        position: absolute;
        left: 30%;

    }

    .about__img-2 {
        width: 50%;
        right: 10%;
        margin-top: 20rem;
        margin-bottom: 5rem;
    }

    .tech .section__title {
        font-size: 5rem;
    }

    .tech__img {
        width: 30%;
    }

    .team .section__title {
        text-wrap: nowrap;
        font-size: 3rem;
    }

    .members {
        overflow: scroll;
        margin: auto;
        align-items: center;

    }

    .members .team__container {

        height: 30rem;
        width: 30rem;
        transform: scale(0.650);
        position: relative;

    }

    .members .team__member {
        width: auto;
        height: auto;
    }

    .members .member__image {
        position: absolute;
        z-index: 3;
        top: 4rem;

    }

    .contact .section__title {
        font-size: 3rem;
    }

    .contact__img {
        width: 20%;
    }

    .contact__title {
        font-size: 1.75rem;
    }

    .contact__socials {
        column-gap: 5rem;
    }

    .contact__socials a {
        font-size: 5rem;
    }

    .contact__info {
        justify-content: space-evenly;
        margin: 3rem auto;
    }

    /* ============= JS ADDED CLASSES ============ */
    /* ============= JS ADDED CLASSES ============ */
    .show-menu {
        right: 0;
    }

}

/* ================= RESPONSIVENES ================= */
@media screen and (max-width: 450px) {


    :root {
        --biggest-font-size: 2rem;
        --h1-font-size: 1.25rem;
        --h2-font-size: 0.5rem;
        --h3-font-size: 0.85rem;
        --normal-font-size: 1.25rem;
        --small-font-size: 1.5rem;
    }

    .morfo_logo {
        width: 10rem;
        padding: 10px;
        margin-top: 20px;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        row-gap: 1.25rem;
    }

    .nav__menu {


        position: fixed;
        top: 0;
        right: -100%;
        background-color: hsla(255, 100%, 73%, 0.8);
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
        width: 80%;
        height: 100%;
        padding: 6rem 3rem;
        transition: right 0.4s;


    }

    .section {
        margin: auto;
        justify-content: center;
    }



    .about__container {
        margin: auto;
        padding: 0 1rem;
        row-gap: 3rem;
    }

    .about__description {
        margin: 0 1rem 1rem 0.5rem !important;

    }

    .about__img {
        width: 60%;
        filter: drop-shadow(var(--shadow-img));
        justify-self: center;
    }

    .about__buttons {
        font-size: 0.85rem;
        font-weight: 500;
        padding: 1rem;
    }

    .aboutus__data {
        margin: auto;
        padding: 0 2rem;

    }

    .aboutus__container {
        justify-content: center;
        row-gap: 8rem;
        margin: auto;


    }


    .aboutus__list {
        display: flex;
        flex-direction: column;
        font-size: var(--normal-font-size) - 0.25rem;
        font-style: italic;
        text-align: initial;
        justify-content: center;
        gap: 1.5rem;

    }

    .aboutus__list i {
        font-size: var(--normal-font-size + 0.1rem);

    }

    .aboutus__images {
        margin: auto;
        margin: 0 3rem;
    }

    .about__img-1 {
        width: 90%;
        border: 15px solid var(--body-color);
        position: absolute;
        top: -5rem;
        left: 2rem;

    }

    .section__title {
        margin: auto;


    }

    .aval {
        background-color: white;
        padding: 0.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;

    }

    .about__img-2 {
        width: 85%;
        margin-right: 2.5rem;
        margin-top: 2rem;
    }

    .team .section__title {
        text-wrap: nowrap;
        font-size: 1.5rem;
    }

    .members {
        overflow: scroll;
        margin: auto;
        align-items: center;

    }

    .members .team__container {

        height: 20rem;
        width: 20rem;
        transform: scale(0.650);
        position: relative;

    }

    .members .team__member {
        width: auto;
        height: auto;
    }

    .members .member__image {
        position: absolute;
        z-index: 3;
        top: 50px;

    }



    /* ============= JS ADDED CLASSES ============ */
    /* ============= JS ADDED CLASSES ============ */
    .show-menu {
        right: 0;
    }

}