/*============= OUR VARIABLES =================*/
/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: plum;
    --first-color-alt: hsl(93, 50%, 48%);
    --first-color-light: hsl(93, 58%, 66%);
    --title-color: hsl(228, 8%, 98%);
    --text-color: hsl(228, 8%, 70%);
    --white-color: hsl(228, 8%, 98%);
    --black-color: hsl(228, 6%, 4%);
    --body-color: hsl(228, 6%, 8%);
    --container-color: hsl(228, 6%, 12%);
    --shadow-img: 0 0 48px grey;
    --gradient-card: linear-gradient(180deg,
            hsla(93, 8%, 8%),
            hsla(93, 40%, 30%));

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    /*--body-font: "Montserrat", sans-serif;*/
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-semi-bold: 600;
    --font-bold: 700;


}

/* ============== COSAS BASE ================== */
body {
    /*font-family: var(--body-font);*/
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
    :root {
        --biggest-font-size: 4.25rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}


h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 5rem 1rem;
}

.section__title {
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    text-align: center;
    margin-bottom: 1rem;
}

.main {
    overflow: hidden;
}


/* ============== HEADER & NAV =============== */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: var(--z-fixed);
}

.nav {
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ======== nav components ============ */
.nav__logo,
.nav__close,
.nav__toggle {
    display: flex;
    color: var(--title-color);
    cursor: pointer;
}

/* ------- nav logo -------- */
.nav__logo {
    font-weight: 400;
    column-gap: 1rem;
    align-items: center;
}

.nav__logo i {
    color: plum;
    font-size: 1.8rem;
    font-weight: initial;
}

/* -------- nav actions ------*/
.nav__toggle {
    font-size: 1.25rem;
}


.nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

.nav__link {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

.nav__link:hover {
    color: var(--first-color);
}

.nav__close {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    font-size: 2rem;

}

/* ============= JS ADDED CLASSES ============ */
.show-menu {
    right: 0;
}

/* ================== ABOUT ======================== */
.about__container {
    padding-top: 3rem;
    row-gap: 3rem;
}

.about__img {
    width: 40%;
    filter: drop-shadow(var(--shadow-img));
    justify-self: center;
}

.about__data {
    text-align: center;
}

.about__title {
    font-size: var(--biggest-font-size);
    font-weight: var(--font-bold);
    margin-bottom: 2rem;
}

.about__title span {
    color: blueviolet;
}

.about__description {
    margin-bottom: 3rem;
}

.about__buttons {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    justify-content: center;
    align-items: center;
}

/* ======================== TECH SECTION ===================== */
.tech__img {
    width: 40%;
    filter: drop-shadow(var(--shadow-img));
    justify-self: center;
}

/* ============== BUTTONS ================ */
.button {
    background-color: var(--white-color);
    color: black;
    font-weight: var(--font-bold);
    padding: 0.5rem 1.5rem;
    border-radius: 4rem;
    display: inline-flex;
    align-items: center;
    column-gap: 1rem;
}

.button span {
    background-color: var(--first-color);
    padding: 0.5rem;
    font-size: 1.25rem;
    border-radius: 5rem;
    display: grid;
    place-items: center;
    transition: trasform 0.4s;
}

/* ------- button animationss ---------- */
.button:hover span {
    transform: translateX(10px);
}

.button__link {
    color: var(--white-color);
    font-weight: var(--font-bold);
    transition: color 0.4s;
}

.button__link:hover {
    color: var(--first-color);
}

.fact__list {
    display: grid;
    row-gap: 2rem;
    justify-content: center;
    /* puede cambiar */
}

.fact__item {
    display: flex;
    column-gap: 0.5rem;
    align-items: flex-start;
}

.fact__item i {
    font-size: 2rem;
    color: blueviolet;
}







/* ================= RESPONSIVENES ================= */
@media screen and (max-width: 1150px) {
    .nav__menu {

        background-color: purple;
        /* add filter :0 */
        -webkit-backdrop-filter: blur(16px) !important;
        backdrop-filter: blur(16px) !important;

        width: 60%;
        height: 100%;
        padding: 5rem 2.5rem 0;
        top: 0;

        right: -100%;
        /* desaparece juas jaus */
        position: fixed;
        transition: right 1s;


    }

}